.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
web/.dart_tool/
windows/flutter/ephemeral/
coverage/
pubspec.lock
!.vscode/
